<p-timeline [value]="events">
  <ng-template pTemplate="marker" let-event>
        <span class="custom-marker p-shadow-2">
            <i [ngClass]="{
            'fas': true,
            'fa-check-circle job-success': event.jobStatus === 'success',
            'fa-minus-circle job-canceled': event.jobStatus === 'canceled',
            'fa-times-circle job-failed': event.jobStatus === 'failed'
            }" style="font-size: 1.5em"></i>
        </span>
  </ng-template>
  <ng-template pTemplate="content" let-event>
    <small class="p-text-secondary">{{event.jobStartedAt | date:'medium'}}</small>
  </ng-template>
  <ng-template pTemplate="opposite" let-event>
    <span class="job-id">#{{event.jobId}} </span>
    <span class="branch-name"> <i class="fas fa-code-branch"> {{event.branchName}}</i></span>
    <span class="commit-sha"> &#8212; {{event.commitSha |slice:0:8}}</span>
  </ng-template>
</p-timeline>
