<p-timeline [value]="jobs">
  <ng-template pTemplate="marker" let-jobs>
        <span class="custom-marker p-shadow-2">
            <i [ngClass]="{
            'job-icon fas': true,
            'fa-check-circle job-success': jobs.jobStatus === 'success',
            'fa-minus-circle job-canceled': jobs.jobStatus === 'canceled',
            'fa-times-circle job-failed': jobs.jobStatus === 'failed'
            }"></i>
        </span>
  </ng-template>
  <ng-template pTemplate="content" let-job>
    <small class="p-text-secondary">{{job.jobStartedAt | date:'medium'}}</small>
  </ng-template>
  <ng-template pTemplate="opposite" let-job>
    <span class="job-id">#{{job.jobId}} </span>
    <span class="branch-name"> <i class="fas fa-code-branch"> {{job.branchName}}</i></span>
    <span class="commit-sha"> &#8212; {{job.commitSha |slice:0:8}}</span>
  </ng-template>
</p-timeline>
