@import 'src/assets/variables';

::ng-deep {
  .p-tag-success {
    background-color: $success-color!important;
  }
  .p-tag-canceled {
    background-color: $canceled-color!important;
  }
  .p-tag-failed {
    background-color: $failed-color!important;
  }
  .p-tag-info {
    background-color: $skipped-color!important;
  }
}
