<div class="card ml-5 mr-5">
  <p-table [value]="pipelines">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">pipeline id
          <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="status">status
          <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="branch">branch
          <p-sortIcon field="branch"></p-sortIcon>
        </th>
        <th pSortableColumn="commit">commit
          <p-sortIcon field="commit"></p-sortIcon>
        </th>
        <th pSortableColumn="jobs">jobs
          <p-sortIcon field="jobs"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pipeline>
      <tr>
        <td>{{pipeline.id}}</td>
        <td>
          <p-tag [value]="pipeline.status" severity="{{severity(pipeline.status)}}" ></p-tag>
        </td>
        <td>{{pipeline.branch}}</td>
        <td>{{pipeline.commit | slice:0:8}}</td>
        <td class="row col justify-content-start">
          <div *ngFor="let job of pipeline.jobs">
            <app-job-details [job]="job"></app-job-details>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
