@import 'src/assets/variables';

::ng-deep {
  .p-tag-success {
    background-color: $success-color!important;
  }
  .p-tag-canceled {
    background-color: $canceled-color!important;
  }
  .p-tag-failed {
    background-color: $failed-color!important;
  }
  .p-tag-info {
    background-color: $skipped-color!important;
  }
}

.pipeline-icon {
  font-size: 1.2em;
}
.pipeline-success {
  color: $success-color;
}

.pipeline-canceled {
  color: $canceled-color;
}

.pipeline-failed {
  color: $failed-color;
}

.pipeline-skipped {
  color: $skipped-color;
}

li {
  list-style-type: none;
}

span {
  padding: 10px;
}

.job-cursor {
  cursor: pointer;
}
